
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



@import url('./assets/fonts/Figtree-VariableFont_wght.ttf');

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 150%;
}

*{
    margin: 0px;
}

body{
    background-color: #F4D04E;
    font-family: 'Figtree', sans-serif;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.blog-card{
    background-color: white;
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px black;
    transition: box-shadow 0.3s ease;
}

.svg{
    width: 100%;
}

svg{
    max-width: 100%;
    border-radius: 10px;
}

.blog-content{
    display: flex;
    flex-direction: column;
    gap: 13px;
    line-height: 150%;
}


img{
    width: 2rem;
    height: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 850;
}

.category{
    background-color: #F4D04E;
    padding:  4px 12px 4px 12px;
    font-size: 0.875rem;
    font-weight: 900;
    width: fit-content;
    border-radius: 4px;
    color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subHeading{
    font-size: 0.875rem;
    font-weight: 550;
}

.description{
    font-size: 1rem;
    font-weight: 500;
    width: 22.813rem;
    color: #6B6B6B;
}

.blog-card-footer{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.875rem;
    font-weight: 900;
}


.blog-card:hover {
    box-shadow: 15px 18px 0px black;
    transform: transalteY(20px);
    cursor: default;
}

.blog-card:hover h2 {
    color:#F4D04E;
    cursor: pointer;
}

